USE [Exam]
GO
/****** Object:  Table [dbo].[ANSWERS]    Script Date: 22.10.2022 21:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANSWERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CORRECT] [tinyint] NOT NULL,
	[ID_QUESTION] [int] NOT NULL,
	[ID_TEST] [int] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ANSWERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 22.10.2022 21:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](80) NOT NULL,
 CONSTRAINT [IX_CATEGORIES_NAME] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION]    Script Date: 22.10.2022 21:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](1000) NOT NULL,
	[COUNT_ANSWERS] [smallint] NOT NULL,
	[ID_TEST] [int] NOT NULL,
	[MARK] [int] NOT NULL,
 CONSTRAINT [IX_Table_ID] UNIQUE NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TESTS]    Script Date: 22.10.2022 21:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[COUNT_QUESTION] [int] NOT NULL,
	[FINISHED] [tinyint] NOT NULL,
	[MARK] [int] NOT NULL,
	[ID_CATEGORY] [int] NOT NULL,
 CONSTRAINT [PK_TESTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_TESTS_NAME] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 22.10.2022 21:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS] [tinyint] NOT NULL,
	[LOGIN] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](100) NOT NULL,
	[SNF] [nvarchar](150) NOT NULL,
	[ADDRESS] [nvarchar](150) NOT NULL,
	[NUMBER] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS_QUESTIONS]    Script Date: 22.10.2022 21:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_QUESTIONS](
	[ID_QUESTION] [int] NOT NULL,
	[ID_TEST] [int] NOT NULL,
	[ID_USER] [int] NOT NULL,
	[MARK] [int] NOT NULL,
	[CORRECT] [int] NOT NULL,
	[ID_CHOOSE_ANSWER] [int] NOT NULL,
	[NAME] [nvarchar](1000) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS_TESTS]    Script Date: 22.10.2022 21:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_TESTS](
	[ID_USER] [int] NOT NULL,
	[ID_TEST] [int] NOT NULL,
	[FINISHED] [tinyint] NOT NULL,
	[MARK] [int] NOT NULL,
	[AVERAGE_MARK] [float] NOT NULL,
	[COUNT_PASS] [int] NOT NULL,
	[NAME] [nvarchar](200) NOT NULL,
	[NAME_CAT] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ANSWERS] ADD  CONSTRAINT [DF_ANSWERS_CORRECT]  DEFAULT ((0)) FOR [CORRECT]
GO
ALTER TABLE [dbo].[ANSWERS] ADD  CONSTRAINT [DF_ANSWERS_NAME]  DEFAULT ('') FOR [NAME]
GO
ALTER TABLE [dbo].[QUESTION] ADD  CONSTRAINT [DF_QUESTION_NAME]  DEFAULT ('') FOR [NAME]
GO
ALTER TABLE [dbo].[QUESTION] ADD  CONSTRAINT [DF_QUESTION_COUNT_ANSWERS]  DEFAULT ((0)) FOR [COUNT_ANSWERS]
GO
ALTER TABLE [dbo].[QUESTION] ADD  CONSTRAINT [DF_QUESTION_MARK]  DEFAULT ((0)) FOR [MARK]
GO
ALTER TABLE [dbo].[TESTS] ADD  CONSTRAINT [DF_TESTS_NAME]  DEFAULT (N' ') FOR [NAME]
GO
ALTER TABLE [dbo].[TESTS] ADD  CONSTRAINT [DF_TESTS_COUNT_QUESTION]  DEFAULT ((0)) FOR [COUNT_QUESTION]
GO
ALTER TABLE [dbo].[TESTS] ADD  CONSTRAINT [DF_TESTS_FINISHED]  DEFAULT ((0)) FOR [FINISHED]
GO
ALTER TABLE [dbo].[TESTS] ADD  CONSTRAINT [DF_TESTS_MARK]  DEFAULT ((0)) FOR [MARK]
GO
ALTER TABLE [dbo].[TESTS] ADD  CONSTRAINT [DF_TESTS_ID_CATEGORY]  DEFAULT ((0)) FOR [ID_CATEGORY]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_SNF]  DEFAULT ('') FOR [SNF]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_ADDRESS]  DEFAULT ('') FOR [ADDRESS]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF_USERS_NUMBER]  DEFAULT ((0)) FOR [NUMBER]
GO
ALTER TABLE [dbo].[USERS_QUESTIONS] ADD  CONSTRAINT [DF_USERS_QUESTIONS_MARK]  DEFAULT ((0)) FOR [MARK]
GO
ALTER TABLE [dbo].[USERS_QUESTIONS] ADD  CONSTRAINT [DF_USERS_QUESTIONS_CORRECT]  DEFAULT ((0)) FOR [CORRECT]
GO
ALTER TABLE [dbo].[USERS_QUESTIONS] ADD  CONSTRAINT [DF_USERS_QUESTIONS_ID_CHOOSE_ANSWER]  DEFAULT ((0)) FOR [ID_CHOOSE_ANSWER]
GO
ALTER TABLE [dbo].[USERS_QUESTIONS] ADD  CONSTRAINT [DF_USERS_QUESTIONS_NAME]  DEFAULT ('') FOR [NAME]
GO
ALTER TABLE [dbo].[USERS_TESTS] ADD  CONSTRAINT [DF_USERS_TESTS_FINISHED]  DEFAULT ((0)) FOR [FINISHED]
GO
ALTER TABLE [dbo].[USERS_TESTS] ADD  CONSTRAINT [DF_USERS_TESTS_MARK]  DEFAULT ((0)) FOR [MARK]
GO
ALTER TABLE [dbo].[USERS_TESTS] ADD  CONSTRAINT [DF_USERS_TESTS_AVERAGE_MARK]  DEFAULT ((0.0)) FOR [AVERAGE_MARK]
GO
ALTER TABLE [dbo].[USERS_TESTS] ADD  CONSTRAINT [DF_USERS_TESTS_COUNT_PASS]  DEFAULT ((0)) FOR [COUNT_PASS]
GO
ALTER TABLE [dbo].[USERS_TESTS] ADD  CONSTRAINT [DF_USERS_TESTS_NAME]  DEFAULT ('') FOR [NAME]
GO
ALTER TABLE [dbo].[USERS_TESTS] ADD  CONSTRAINT [DF_USERS_TESTS_NAME_CAT]  DEFAULT ('') FOR [NAME_CAT]
GO
ALTER TABLE [dbo].[ANSWERS]  WITH CHECK ADD  CONSTRAINT [CK_ANSWERS_CORRECT] CHECK  (([CORRECT]>=(0) AND [CORRECT]<=(1)))
GO
ALTER TABLE [dbo].[ANSWERS] CHECK CONSTRAINT [CK_ANSWERS_CORRECT]
GO
ALTER TABLE [dbo].[ANSWERS]  WITH CHECK ADD  CONSTRAINT [CK_ANSWERS_ID] CHECK  (([ID]<>''))
GO
ALTER TABLE [dbo].[ANSWERS] CHECK CONSTRAINT [CK_ANSWERS_ID]
GO
ALTER TABLE [dbo].[ANSWERS]  WITH CHECK ADD  CONSTRAINT [CK_ANSWERS_ID_QUESTION] CHECK  (([ID_QUESTION]>=(1)))
GO
ALTER TABLE [dbo].[ANSWERS] CHECK CONSTRAINT [CK_ANSWERS_ID_QUESTION]
GO
ALTER TABLE [dbo].[ANSWERS]  WITH CHECK ADD  CONSTRAINT [CK_ANSWERS_ID_TEST] CHECK  (([ID_TEST]>=(1)))
GO
ALTER TABLE [dbo].[ANSWERS] CHECK CONSTRAINT [CK_ANSWERS_ID_TEST]
GO
ALTER TABLE [dbo].[CATEGORIES]  WITH CHECK ADD  CONSTRAINT [CK_CATEGORIES_ID] CHECK  (([ID]<>''))
GO
ALTER TABLE [dbo].[CATEGORIES] CHECK CONSTRAINT [CK_CATEGORIES_ID]
GO
ALTER TABLE [dbo].[CATEGORIES]  WITH CHECK ADD  CONSTRAINT [CK_CATEGORIES_NAME] CHECK  (([NAME]<>''))
GO
ALTER TABLE [dbo].[CATEGORIES] CHECK CONSTRAINT [CK_CATEGORIES_NAME]
GO
ALTER TABLE [dbo].[QUESTION]  WITH CHECK ADD  CONSTRAINT [CK_Table_ID] CHECK  (([ID]<>''))
GO
ALTER TABLE [dbo].[QUESTION] CHECK CONSTRAINT [CK_Table_ID]
GO
ALTER TABLE [dbo].[QUESTION]  WITH CHECK ADD  CONSTRAINT [CK_Table_ID_TEST] CHECK  (([ID_TEST]>=(1)))
GO
ALTER TABLE [dbo].[QUESTION] CHECK CONSTRAINT [CK_Table_ID_TEST]
GO
ALTER TABLE [dbo].[QUESTION]  WITH CHECK ADD  CONSTRAINT [CK_Table_MARK] CHECK  (([MARK]>=(0)))
GO
ALTER TABLE [dbo].[QUESTION] CHECK CONSTRAINT [CK_Table_MARK]
GO
ALTER TABLE [dbo].[TESTS]  WITH CHECK ADD  CONSTRAINT [CK_TESTS_COUNT_QUESTION] CHECK  (([COUNT_QUESTION]>=(0)))
GO
ALTER TABLE [dbo].[TESTS] CHECK CONSTRAINT [CK_TESTS_COUNT_QUESTION]
GO
ALTER TABLE [dbo].[TESTS]  WITH CHECK ADD  CONSTRAINT [CK_TESTS_FINISHED] CHECK  (([FINISHED]>=(0)))
GO
ALTER TABLE [dbo].[TESTS] CHECK CONSTRAINT [CK_TESTS_FINISHED]
GO
ALTER TABLE [dbo].[TESTS]  WITH CHECK ADD  CONSTRAINT [CK_TESTS_ID_CATEGORY] CHECK  (([ID_CATEGORY]>=(0)))
GO
ALTER TABLE [dbo].[TESTS] CHECK CONSTRAINT [CK_TESTS_ID_CATEGORY]
GO
ALTER TABLE [dbo].[TESTS]  WITH CHECK ADD  CONSTRAINT [CK_TESTS_MARK] CHECK  (([MARK]>=(0)))
GO
ALTER TABLE [dbo].[TESTS] CHECK CONSTRAINT [CK_TESTS_MARK]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [CK_USERS_ID] CHECK  (([ID]<>''))
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [CK_USERS_ID]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [CK_USERS_LOGIN] CHECK  (([LOGIN]<>''))
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [CK_USERS_LOGIN]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [CK_USERS_PASSWORD] CHECK  (([PASSWORD]<>''))
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [CK_USERS_PASSWORD]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [CK_USERS_STATUS] CHECK  (([STATUS]>=(0)))
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [CK_USERS_STATUS]
GO
ALTER TABLE [dbo].[USERS_TESTS]  WITH CHECK ADD  CONSTRAINT [CK_USERS_TESTS_FINISHED] CHECK  (([FINISHED]>=(0) AND [FINISHED]<=(1)))
GO
ALTER TABLE [dbo].[USERS_TESTS] CHECK CONSTRAINT [CK_USERS_TESTS_FINISHED]
GO
ALTER TABLE [dbo].[USERS_TESTS]  WITH CHECK ADD  CONSTRAINT [CK_USERS_TESTS_ID_TEST] CHECK  (([ID_TEST]>=(1)))
GO
ALTER TABLE [dbo].[USERS_TESTS] CHECK CONSTRAINT [CK_USERS_TESTS_ID_TEST]
GO
ALTER TABLE [dbo].[USERS_TESTS]  WITH CHECK ADD  CONSTRAINT [CK_USERS_TESTS_ID_USER] CHECK  (([ID_USER]>=(1)))
GO
ALTER TABLE [dbo].[USERS_TESTS] CHECK CONSTRAINT [CK_USERS_TESTS_ID_USER]
GO
ALTER TABLE [dbo].[USERS_TESTS]  WITH CHECK ADD  CONSTRAINT [CK_USERS_TESTS_MARK] CHECK  (([MARK]>=(0)))
GO
ALTER TABLE [dbo].[USERS_TESTS] CHECK CONSTRAINT [CK_USERS_TESTS_MARK]
GO
